*, :before, :after {
    box-sizing: inherit;
    font-family: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    
    transition-duration: .2s;
    transition-property: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Varela Round", sans-serif;
    box-sizing: border-box;
}

:focus {
    outline: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

header {
    width: 100%;
    padding: 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #3D9970;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    color: white;
}

h1 {
    display: inline-block;
}

#pool, header {
    text-align: center;
}

#pool {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    padding: 50px;
    padding-top: 108px;
    
    overflow-y: auto;
    
    background-image: url(img/ui/add_files_prompt.svg);
    background-size: 400px;
    background-position: center;
    background-repeat: no-repeat;
}

#pool.noprompt {
    background: none;
}

.file {
    position: relative;
    background-color: #ddd;
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
    width: 350px;
    text-align: left;
    max-width: 100%;
    color: #444;
    overflow: hidden;
}

.file.loading {
    opacity: .5;
}

.file .info {
    width: calc(100% - 50px);
    padding: 20px;
    padding-left: 70px;
    
    background-repeat: no-repeat;
    background-size: 45px;
    background-position: 12px center;
}

.file.loading .info {
    background-image: url(img/ui/loading.svg);
}

.file .dl {
    width: 50px;
    height: 82px;
    
    background-image: url(img/ui/darr.svg);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
}

.file .info, .file .dl {
    float: left;
    
    transition-property: background;
}

.file .info:hover, .file .dl:hover {
    background-color: rgba(255, 255, 255, .3);
}

.file h3, .file h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
}

#add {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px;
    margin: 10px;
    margin-right: 50px;
    background: transparent;
    border: none;
    font-size: 2em;
    cursor: pointer;
}

label input[type=file] {
    display: none;
}

@media only screen and (max-width: 480px) {
    .file {
        margin-left: 0;
        margin-right: 0;
    }
    
    #pool {
        padding-top: 70px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    #add {
        margin-right: 10px;
    }
}